/*进入开始时*/
.right_left-enter-from{;
    opacity: 0;
    /*transform: translate(-100%, 0);*/
    transform: translateX(100%);
    /*transition: all 10s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}

.right_left-enter-active{
    opacity: 0.2;
    transform: translatex(50%);
    transition: all 0.5s ease-out;

}
/*进入结束*/
.right_left-enter-to{
    opacity: 1;
    transform: translatex(0);


}
/*离开开始时动效*/
.right_left-leave-from{
    opacity: 1;
    transform: translatex(0%);
}
.right_left-leave-active{
    opacity: 0.5;
    transform: translatex(-50%);
    transition: all 0.5s ease-out;

}
/*离开结束时动效*/
.right_left-leave-to{
    opacity: 0;
    transform: translatex(-100%);
}

/*进入开始时*/
.left_right-enter-from{;
    opacity: 0;
    /*transform: translate(-100%, 0);*/
    transform: translateX(-100%);
    /*transition: all 10s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}

.left_right-enter-active{
    opacity: 0.2;
    transform: translatex(-50%);
    transition: all 0.5s ease-out;

}
/*进入结束*/
.left_right-enter-to{
    opacity: 1;
    transform: translatex(-0);


}
/*离开开始时动效*/
.left_right-leave-from{
    opacity: 1;
    transform: translatex(0%);
}
.left_right-leave-active{
    opacity: 0.5;
    transform: translatex(50%);
    transition: all 0.5s ease-out;

}
/*离开结束时动效*/
.left_right-leave-to{
    opacity: 0;
    transform: translatex(100%);

}